body{
	background:silver url(bg.png) repeat-y bottom center;
	background-size:110% auto;
}
#input{
	width: 90vw;
	height: 65vw;
	line-height: 1.5em;
	background-color:green;
	border:1vw solid black;
	color:white;
}
#input_div{
	text-align:center;
}

#convert{
	width:30vw;
	height:12vw;
	font-size:8vw;
	border:0.8vw solid black;
	background-color:gray;
}

#convert_div{
	text-align:center;
}

#copy_text{
	height:3.2vw;
	font-size:3.2vw;
}

#output{
	width: 90vw;
	height: 65vw;
	line-height: 1.5em;
	background-color:green;
	border:1vw solid black;
	color:white;
}
#output_div{
	text-align:center;
}
#sakusya{
	height:3vw;
	line-height:3vw;
	color:black;
	font-size:4vw;
	text-align:right;
	
}
#title {
	color:black;
	background-color: gray;
	width:90vw;
	height:10vw;
	line-height:10vw;
	font-size:5vw;
	border:1vw solid black;
	text-align:center;
	margin:0 auto;
}
textarea{
	resize: none;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: auto;
}